{% load static %}

<footer class="footer">  
    <div id="footer-flex">
        <figure>
                <img src="{% static 'img/footer-logo.png' %}" alt="footer-logo">
        </figure>   
        <figure id="social-media">
            <a href="https://www.instagram.com/gabriel1_mv/"><i class="bi bi-instagram" id="instagram-footer"></i></a>
            <a href="https://github.com/Gabriel-Moraes-Vieira"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/gabriel-moraes-737669250/"><i class="bi bi-linkedin"></i></a>
        </figure>  
    </div>
</footer>