{% extends 'base.html' %}
{% load static %}
{% block content %}


<body>
    <div class="container">
        <div id="animes-title">
            
            <h1>{{ anime.nome_anime }}</h1>
            <p>Nomes alternativos: {{ anime.nomes_alternativos }}</p>
            <p>Tags de gênero: {{ anime.tags_genero }}</p>
        </div>
        <div id="animes-sinopse">
            <p>{{ anime.anime_sinopse }}</p>
            <div id="animes-img">
                <img src="{{ anime.imagem_anime.url }}" alt="404">
            </div>
        </div>
        <div id="animes-links">
            <h2>Quer assistir?</h2>
            <a href="{{ anime.links }}">{{ anime.links }}</a>
        </div>
        <div id="animes-written-by">
            <h2>Escrita por:</h2>
            <p>{{ anime.pessoa }}</p>
        </div>
    </div>

    
    {% include 'partials/_footer.html' %}

</body>



{%endblock%}

