{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUNI ANIMES</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<header>
    <div id="header">
        <ul id="ul-flex">
            <li id="home-header">
                <a href="" >Home</a>
            </li>
            <li id="menu-header">
                <a href="">Navegar</a>
            </li>
            <li id="user-header">
                <div id="user-menu">
                    <a href="#"><i class="bi bi-caret-down-fill" onclick="AbrirNav()">Usuario</i></a>
                </div>
                <div id="hidden-user-menu" class="hidden-user-menu">
                    <i class="bi bi-x-lg"  id="btn-close" onclick="FecharNav()"></i>
                    <a href="#">Conta</a>
                    <a href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>

</header>

<body>
    <div id="search-field">
        <div id="search-input">
            <input type="text" placeholder="Buscar..." id="input-btn">
        </div>
    </div>
    <div id="">

    </div>
    
    <script src="{% static 'js/scripts.js' %}"></script>
</body>


</html>