{% extends 'base.html' %}
{% load static %}
{% block content %}

<header>
    <div id="logo-header-index">
        <img src="{% static 'img/luffy-logo-header.jpg' %}" alt="Luffy" id="luffy-header"><a href="{% url 'index' %}">Ouni Animes</a><img src="{% static 'img/straw-hat-logo-header.jpg' %}" alt="">
        <ul id="index-ul-header">
            <li id="index-home-header">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'cadastro' %}">Cadastro</a>
            </li>
            <li>
                <a href="{% url 'busca' %}"><i class="bi bi-search"></i></a>
            </li>
        </ul>
    </div>
</header>

<body>
    <main>

        <div class="container" id="flex-anime-transition">
            <a href="" id="back-button-a"><i class="bi bi-arrow-left"></i></i></a>
            <figure class="image-list"><a href=""><img src="{% static 'img/dbz-lista.jpg' %}" alt="DBZ"></a></figure>
            <a href="" id="skip-button-a"><i class="bi bi-arrow-right"></i></i></a>
        </div>
        <div class="container"> 
            <div class="flex-container" id="flex-anime-transition-minibox">
                <div>
                    <a href=""><p>Dragon Ball Z</p></a>
                </div>
                <div>
                    <a href=""><p>One Piece</p></a>
                </div>
                <div>
                    <a href=""><p>Tensei Shitara Slime Datta Ken</p></a>
                </div>
                <div>
                    <a href=""><p>Demon Slayer</p></a>
                </div>
            </div>
        </div>

     <div class="anime-color">
        <div class="container">
            <h3>Anime List</h3>
            <p id="anime-select">Escolha o seu anime</p>
            <hr>
            <ul class="animes-list">
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/dbz-imagem.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Dragon Ball Z</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/one-piece.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>One Piece</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/demon-slayer.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Demon Slayer</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/jojo.png' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Jojo`s Bizarre Adventure</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/bleach.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Bleach</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/tensei-shitara.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Tensei Shitara Slime Datta ken</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h4>Lançamentos</h4>
        <p id="text-releases">fique por dentro dos lançamentos</p>
        <hr>
        <ul class="animes-list">
            <li>
                <figure>
                    <a href=""><img src="{% static 'img/demon-slayer-t3.jpg' %}" alt="DEMON SLAYER T3"></a>

                    <figcaption>Demon Slayer T3</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <a href=""><img src="{% static 'img/vinland-saga-2.jpg' %}" alt=""></a>
                </figure>
                
                <figcaption>Vinland Saga Season 2</figcaption>
            </li>
        </ul>
    </div>
    {% include 'partials/_footer.html' %}
    </main>
{% endblock %}
