{% extends 'base.html' %}
{% load static %}
{% block content %}


    <main id="main">
        {% if request.user.is_authenticated %}
            <p id="user-log">Olá {{ request.user.username }}</p>
        {% endif %}
        <div class="container" id="flex-anime-transition">
            <a href="" id="back-button-a"><i class="bi bi-arrow-left"></i></i></a>
            <figure class="image-list"><a href=""><img src="{% static 'img/dbz-lista.jpg' %}" alt="DBZ"></a></figure>
            <a href="" id="skip-button-a"><i class="bi bi-arrow-right"></i></i></a>
        </div>
        <!-- ADIÇÃO FUTURA
        <div class="container"> 
            <div class="flex-container" id="flex-anime-transition-minibox">
                <div>
                    <a href=""><p>Dragon Ball Z</p></a>
                </div>
                <div>
                    <a href=""><p>One Piece</p></a>
                </div>
                <div>
                    <a href=""><p>Tensei Shitara Slime Datta Ken</p></a>
                </div>
                <div>
                    <a href=""><p>Demon Slayer</p></a>
                </div>
            </div>
        </div> -->

     <div class="anime-color">
        
        <div class="container">
            <p id="anime-select">Escolha o seu anime</p>
            <hr>
            {% if animes %}
            {% for anime in animes %}
            <ul class="animes-list">
                <li>
                    <figure>
                    {% if anime.imagem_anime %}
                        <a href="{% url 'anime' anime.id %}"><img src="{{ anime.imagem_anime.url }}" alt="404"></a>
                    {% endif %}
                        <figcaption>{{ anime.nome_anime }}</figcaption>
                    </figure>
                </li>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="container">
        <h4>Lançamentos</h4>
        <p id="text-releases">fique por dentro dos lançamentos</p>
        <hr>
        <ul class="animes-list">
            <li>
                <figure>
                    <a href=""><img src="{% static 'img/demon-slayer-t3.jpg' %}" alt="DEMON SLAYER T3"></a>

                    <figcaption>Demon Slayer T3</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <a href=""><img src="{% static 'img/vinland-saga-2.jpg' %}" alt=""></a>
                </figure>
                
                <figcaption>Vinland Saga Season 2</figcaption>
            </li>
        </ul>
    </div>
    {% include 'partials/_footer.html' %}
    </main>
{% endblock %}
