{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="top-color"></div>

    <div id="h1-color">
        <h1 class="title">OUNI ANIMES</h1>
    </div>

    <div class="bottom-color"></div>
    
    <!--image/start navblock-->
    <div id="bg-color">
        <div class="logo-box">
            <a href="https://www.crunchyroll.com/pt-br/series/G9VHN9PPW/dragon-ball-z"><img src="{% static 'img/luffy-logo.jpg' %}" class="logo-left" alt="LUFFY"></a>
        </div>
        
        
        <!--NavStart-->
        <nav class="nav-menu">
            <ul>
                <a href=""><li>Home</li></a>
                <a href=""><li>Support</li></a>
                <a href="{% url 'login' %}"><li>Login</li></a>
            </ul>
        </nav> 
        
        <div id="search-area">
            <a href="{% url 'busca' %}"><button><i class="bi bi-search" id="search"></i></button></a>
        </div>

        <div class="bottom-color"></div>
    </div>

    <main>

        <div class="container" id="flex-anime-transition">
            <a href="" id="back-button-a"><i class="bi bi-box-arrow-left" id="back-button"></i></a>
            <figure class="image-list"><a href=""><img src="{% static 'img/dbz-lista.jpg' %}" alt="DBZ"></a></figure>
            <a href="" id="skip-button-a"><i class="bi bi-box-arrow-right" id="skip-button"></i></a>
        </div>
        <div class="container"> 
            <div class="flex-container" id="flex-anime-transition-minibox">
                <div>
                    <a href=""><p>Dragon Ball Z</p></a>
                </div>
                <div>
                    <a href=""><p>One Piece</p></a>
                </div>
                <div>
                    <a href=""><p>Tensei Shitara Slime Datta Ken</p></a>
                </div>
                <div>
                    <a href=""><p>Demon Slayer</p></a>
                </div>
            </div>
        </div>

     <div class="anime-color">
        <div class="container">
            <h3>Anime List</h3>
            <p id="anime-select">Escolha o seu anime</p>
            <hr>
            <ul class="animes-list">
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/dbz-imagem.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Dragon Ball Z</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/one-piece.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>One Piece</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/demon-slayer.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Demon Slayer</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/jojo.png' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Jojo`s Bizarre Adventure</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/bleach.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Bleach</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <a href=""><img src="{% static 'img/tensei-shitara.jpg' %}" alt="DEMON SLAYER"></a>
    
                        <figcaption>Tensei Shitara Slime Datta ken</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h4>Lançamentos</h4>
        <p id="text-releases">fique por dentro dos lançamentos</p>
        <hr>
        <ul class="animes-list">
            <li>
                <figure>
                    <a href=""><img src="{% static 'img/demon-slayer-t3.jpg' %}" alt="DEMON SLAYER T3"></a>

                    <figcaption>Demon Slayer T3</figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <a href=""><img src="{% static 'img/vinland-saga-2.jpg' %}" alt=""></a>
                </figure>
                
                <figcaption>Vinland Saga Season 2</figcaption>
            </li>
        </ul>
    </div>
    {% include 'partials/_footer.html' %}
    </main>
{% endblock %}
