#header-color {
    
}


.title {
    text-align: center;
    border: solid;
    border-radius: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin-bottom: 20px;
}

.bg-top {
    border: solid;
}

#bg {
    width: 100%;
}

.logo-box {
    display: inline-block;
}

.logo-left {
    border: solid;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    display: inline-block;
}

.nav-menu {
    border: solid;
    display: inline-block;
    position: absolute; right: 10px;
    margin-right: 100px;
}

.nav-menu ul {
    text-align: right;
    
}

.nav-menu li {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    color: black;
    position: relative;
    height: 100px;
}

<<<<<<< HEAD
.decoration {
    display: block;
    width: 100%;
    height: 220px;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
=======
.nav-menu li:hover {
    color: blue;
}


>>>>>>> navbar

.main-animes {
    padding: 200px 85px 30px 30px;
    display: inline-block;
    border: solid;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    text-align: center;
    display: block;
}

h2 {
    text-align: center;
}

.animes-list li {
    display: inline-block;
    padding-right: 75px;
}